
<div class="container">
    <div class="row">
        <div class="col">ID</div>
        <div class="col-10">
            @ViewBag.person.id
        </div>
    </div>
    <div class="row">
        <div class="col">First Name</div>
        <div class="col-10">
            @ViewBag.person.firstName
        </div>
    </div>
    <div class="row">
        <div class="col">Last Name</div>
        <div class="col-10">
            @ViewBag.person.lastName
        </div>
    </div>
    <div class="row">
        <div class="col">Birthday</div>
        <div class="col-10">
            @ViewBag.person.dateBirth
        </div>
    </div>
    <div class="row">
        <div class="col">Email</div>
        <div class="col-10">
            @ViewBag.person.email
        </div>
    </div>
    <div class="row">
        <div class="col">Country</div>
        <div class="col-10">
            @ViewBag.person.country
        </div>
    </div>
    <div class="row">
        <div class="col">Image</div>
        <div class="col-10">
            @ViewBag.person.image
            <br />
            <img src="@ViewBag.person.image" />
        </div>
    </div>

</div>